@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:#000000;
  background: #ffffff;
}

/* Pages */
.main-container {
  flex-grow: 1;
}

 .container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
 }

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.basket-count {
  display: inline-block;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px 5px 4px;
  color:#ffffff;
  border-radius: 50%;
  background-color: #7db54f;
  width: 10px;
}

.navigation-item {
  list-style-type:none;
}

.navigation-link {
  color:inherit;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.navigation-list {
  width: 400px;
}

.navigation-user {
  width: 320px;
  margin-left: auto;
}

.navigation-link.button {
  color:#ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
}

.navigation-link-current {
  border-bottom: 2px #756257 solid;
}

.background-sedona {
  background-image: url("../images/divider.png"), url("../images/background-sedona.jpg");
  background-color: #000000;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 485px;
}

.visually-hidden {
  display: none;
}

.сity-name {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.title-description,
.invitation,
.search-title,
.search-hotel {
  text-align: center;
}

.description,
.invitation-offer,
.search-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
}

.offer,
.invitation-advantage,
.search-info {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.button.button-search {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  width: 276px;
  height: 36px;
  text-decoration: none;
}


/* List */
.advantage-item {
  list-style-type:none;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}


.advantage-list li:not(:nth-child(2)):not(:nth-child(6)) {
  padding: 102px 85px;
  width: 230px;
  height: 160px;
}

 li:not(:nth-child(2)):not(:nth-child(6)) .advantage-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
}

 .advantage-list li:first-child,
 .advantage-list li:last-child {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantage-list li:nth-child(3), .advantage-list:nth-child(5) {
  background-color: rgba(130, 179, 212, 0.122);
}

.advantage-list li:nth-child(4) {
  background-color: #82b3d3;
}

li:nth-child(3) .advantage-title,
li:nth-child(4) .advantage-title,
li:nth-child(5) .advantage-title {
  color: #000000;
}

li:nth-child(3) .advantage-description,
li:nth-child(4) .advantage-description,
li:nth-child(5) .advantage-description {
  color: #333333;
}

/* Recommendations */
.recommendations-list {
  display: flex;
  margin: o;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
}
.recommendations-item-1,
.recommendations-item-3 {
  text-align: center;
  padding: 80px 85px;
  width: 230px;
  background-color: rgba(131, 179, 211, 0.122);
}

.recommendations-item-2  {
  text-align: center;
  padding: 80px 85px;
  width: 230px;
}

.signature-house,
.signature-food,
.signature-souvenir {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
}

.recommendations-description {
  color: #333333;
}

/* Newsletter */

.newsletter {
  text-align: center;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
}

.newsletter-title {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
}

.newsletter-info {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.field-email {
  display: inline-block;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  text-align: left;
  width: 412px;
  height: 28px;
  padding: 12px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: transparent ;
  outline: none;
  cursor: pointer;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-color: transparent;
  display: inline-block;
  cursor: pointer;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px;
}

.footer-social {
  width: 150px;
  margin-right: auto;
}

.footer-social-item {
  list-style-type: none;
  padding-right:10px;
}

.phone_number {
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
}

.contact-phone {
  width: 331px;
  padding: 5px 194px;
}

.link-academy {
  width: 115px;
  margin-left: auto;
}

/* Каталог */

.filter-group-container {
  display: flex;
}

.inner-background {
  background-image: url("../images/inner-header-background.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-filter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 24px;
}

.catalog-filter-group1 {
  width: 150px;
  margin-right: 70px;
  border-color: transparent;
}

.catalog-filter-group2 {
  width: 150px;
  border-color: transparent;
}

.button-container {
  width: 191px;
  margin-left: auto;
}

.catalog-filter-list {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.button-apply {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  background-color: #82b3d3;
  border-color: transparent;
  padding: 8px 50px;
  border-radius: 4px;
}

.button-reset {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  background-color: transparent;
  border-color: transparent;
  padding: 8px 50px;
}

.hotel-found {
  font-size: 30px;
  font-family: PT Sans, sans-serif;
  text-transform: uppercase;
  line-height: 36px;
}

.dropdown {
  color: #333333;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  padding: 14px 20px;
  border-color:#e5e5e5;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.button-light {
  padding: 14px 12px;
  text-decoration: none;
}

/* Поиск гостиниц */
.hotel-show-container {
  width: 1060px;
}

.hotel-card-item {
  list-style-type:none;
}

.hotel-card-list a {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-price,
.hotel-price {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.hotel-card-button {
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  padding: 8px 50px;
  margin: 10px;
  border-radius: 4px;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.rating-star {
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  width: 18px;
  height: 17px;
  margin: 10px;
}

.rating-point {
  text-align: center;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  border-radius: 4px;
}

.hotel-card-image {
  padding: 20px 20px 16px 20px;
}

/* Пагинация */

.pagination a {
  text-decoration: none;
}

.pagination-item {
  text-align: center;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 13px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  background-color: #82b3d3;
  width: 60px;
  height: 36px;
  margin: 8px;
}

.pagination-item:nth-child(1),
.pagination-item::nth-child(5) {
  background-color: #f2f2f2;
}
