@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:#000000;
  /* background: #ffffff; */
  background-color: #f2f2f2;
}

*,
*::before
*::after {
  box-sizing: border-box;
}

/* Pages */
.main-container {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
 }

.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.navigation-logo {
  width: 140px;
  margin: 0 30px 0 70px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.basket-count {
  display: inline-block;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px 5px 4px;
  color:#ffffff;
  border-radius: 50%;
  background-color: #7db54f;
  width: 10px;
}

.navigation-item {
  list-style-type:none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  color:inherit;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 400px; */
  margin: 0;
  padding: 0;
}

.navigation-list .navigation-link {
  padding: 20px 16px;
}

.navigation-user {
  min-width: 320px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-user .navigation-link:nth-child(1)
.navigation-user .navigation-link:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* min-height: 64px; */
  padding: 0;
  width: 44px;
  height: 64px;
}

.navigation-link.button {
  display: flex;
  justify-content: center;
  color:#ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  /* padding: 8px 50px; */
  border-radius: 4px;
  margin-left: 20px;
  align-items: center;
  min-width: 140px;
  height: 36px;
  padding: 0 10px;
  margin-top: 14px;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
}

.navigation-link-current {
  border-bottom: 2px #756257 solid;
}

.background-sedona {
  background-image: url("../images/divider.png"), url("../images/background-sedona.jpg");
  background-color: #000000;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 485px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clear: rect(0 0 0 0);
  overflow: hidden;
}

.сity-name {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.title-description,
.invitation,
.search-title,
.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description,
.invitation-offer,
.search-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  max-width: 620px;
}

.offer,
.invitation-advantage,
.search-info {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.button.button-search {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  width: 276px;
  text-decoration: none;
}


/* List */

.welcome {
  margin-bottom: 69px;
  margin-top: 0;
}

.description {
  margin-top: 0;
  margin-bottom: 25px;
  width: 620px;
}

.advantage-item {
  list-style-type:none;
}

.offer {
  margin-top: 0;
  margin-bottom: 90px;
  width: 651px;
}

.advantage {
  margin-top: 0;
  margin-bottom: 64px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* .advantage-list li::nth-child(2):nth-child(6) {
position: relative;
} */

.advantage-list li:not(:nth-child(2)):not(:nth-child(6)) {
  padding: 102px 85px;
  width: 230px;
}

 .advantage-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  margin: 0 auto 60px auto;
  max-width: 175px;
}

 .advantage-list li:first-child,
 .advantage-list li:last-child {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantage-list li:nth-child(3), .advantage-list:nth-child(5) {
  background-color: rgba(130, 179, 212, 0.122);
}

.advantage-list li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(3) .advantage-title,
.advantage-item:nth-child(4) .advantage-title,
.advantage-item:nth-child(5) .advantage-title {
  color: #000000;
}

.advantage-item:nth-child(3) .advantage-description,
.advantage-item:nth-child(4) .advantage-description,
.advantage-item:nth-child(5) .advantage-description {
  color: #333333;
}

.advantage-description {
  margin: 0;
}
.street-image,
.nature-image {
  height: 100%;
  object-fit: cover;
}


/* Recommendations */
.recommendations-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  flex-wrap: wrap;
}
.recommendations-item-1,
.recommendations-item-3 {
  text-align: center;
  padding: 80px 85px;
  width: 230px;
  background-color: #83b3d31f;
}

.recommendations-item-2  {
  text-align: center;
  padding: 80px 85px;
  width: 230px;
}

.signature-house,
.signature-food,
.signature-souvenir {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.recommendations-description {
  color: #333333;
  margin: 0 auto;
}

.invitation-offer {
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 505px;
}

.invitation-advantage {
  margin-top: 0;
  margin-bottom: 64px;
  max-width: 490px;
}

/* Newsletter */

.search-hotel {
  padding: 96px 304px;
  text-align: center;
  background-color: #ffffff;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.search-info {
  margin-top: 0;
  margin-bottom: 54px;
}

.button-search {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 104px;
  }

.newsletter-catalog {
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0;
  padding: 96px 0 104px 0;
}

.newsletter-title {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  padding: 0;
  margin-bottom: 0;
}

.newsletter-title-catalog {
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  padding: 0;
  margin: 0 0 20px 0;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.newsletter-info {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 54px;
}

.newsletter-info-catalog {
  color: #333333;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 54px 0;
}

.field-email {
  display: inline-block;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  text-align: left;
  width: 412px;
  height: 28px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border-color: transparent ;
  outline: none;
  cursor: pointer;
}

.field-email-catalog {
  background-color: #f2f2f2;
}

.newsletter-button {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  border-radius:  0 4px 4px 0;
  border-color: transparent;
  display: inline-block;
  cursor: pointer;
}

/* Footer */

.page-footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px;
  background-color: #ffffff;
}

.footer-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0 11px;
}

.footer-social-item {
  margin: 0;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.phone-number {
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
}

.contact-phone {
  min-width: 331px;
  padding-top: 5px;
  margin-left: auto;
}

.link-academy {
  width: 115px;
  margin-left: auto;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0;
  width: 47px;
}

/* Каталог */
.main-inner {
  padding-top: 0;
  margin: 0;
}
.filter-group-container {
  display: flex;
}

.inner-background {
  background-image: url("../images/inner-header-background.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.breadcrumbs-element::before {
  content: '';
  display: block;
  position: relative;
  left: -15px;
  background-image: url(../images/breadcrumbs-2.svg);
  background-repeat: no-repeat;
  background-color: red;
  width: 6px;
  height: 10px;
  /* margin: 0 10px 0 10px; */
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 28px;
}

.control-input {
  width: 20px;
  height: 19px;

}
.catalog-filter {
  display: flex;
  margin-top: 40px;
  /* text-decoration: none; */
}

.catalog-filter-item {
  list-style-type: none;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 24px;
  padding: 0;
  margin: 0 0 32px 0;
}

.catalog-filter-group1 {
  padding: 0;
  margin: 0;
  min-width: 150px;
  margin-right: 70px;
  border-color: transparent;
}

.catalog-filter-group2 {
  padding: 0;
  margin: 0;
  min-width: 150px;
  border-color: transparent;
}

.button-container {
  width: 191px;
  margin-left: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin-bottom: 32px;
}

.price-container .price-selection {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 18px;
  line-height: 24px;
}
.price-selection span {
  position: absolute;
  right: 20px;
  top: 10px;
  color: rgba(0, 0, 0, 0.302);
}
.price-selection input {
  font-weight: 700;
  padding: 12px 20px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}
.price-container button {
  grid-column: 1/-1;
}

.price-selection:nth-child(1) input {
  border-radius: 4px 0 0 4px;
}

.filter-form .price {
  width: 288px;
  margin-right: 70px;
}

.price-container {
  display: grid;
  gap: 36px 2px;
  grid-template-columns: repeat(2, 143px);
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.price-selection:nth-child(2) input {
  border-radius: 0 4px 4px 0;
}

.button-apply {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  background-color: #82b3d3;
  border-color: transparent;
  padding: 8px 50px;
  border-radius: 4px;
}

.button-reset {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  background-color: transparent;
  border-color: transparent;
  padding: 8px 50px;
}

.hotel-found {
  font-size: 30px;
  font-family: PT Sans, sans-serif;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.dropdown {
  color: #333333;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  padding: 14px 20px;
  border-color:#e5e5e5;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  min-width: 252px;
  min-height: 49px;
}

.button-light {
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  text-decoration: none;
}

/* .view-button {
  margin-right: 70px;
} */

/* Поиск гостиниц */
.hotel-show-container {
  padding: 50px 70px 60px 70px;
  width: 1060px;
}

.hotel-card-image {
  object-fit: contain;
}
.hotel-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.hotel-card-list a {
  text-decoration: none;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.hotel-card-item {
  display: grid;
  gap: 16px;
  grid-template-columns: 300px;
  grid-template-rows: 212px 1fr auto min-content auto;
  list-style-type:none;
  padding: 20px;
  border-radius: 4px;
  border:1px solid #e6e6e6;
}

.hotel-card-title {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.hotel-card-price,
.hotel-price {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.hotel-price {
  display: flex;
  min-width: 140px;
  justify-content: flex-end;
}

.hotel-card-price-item {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.card-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

.hotel-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  min-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  padding: 8px 12px;
  margin-right: 20px;
  border-radius: 4px;
}

.button-blue {
  background-color: #82b3d3;
  margin: 0;
}

.button-green {
  background-color: #7db54f;
  margin-right: 0;
}

.rating {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-star {
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  width: 18px;
  height: 17px;
  margin: 0;
}

.rating-point {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333333;
  width: 120px;
  min-height: 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 8px 10px;
}

.hotel-image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

/* Пагинация */

.pagination a {
  text-decoration: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.pagination-link {
  text-align: center;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 13px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  background-color: #82b3d3;
  min-width: 60px;
  height: 36px;
  margin-right: 8px;
  display: inline-block;
}

.pagination-current,
.pagination-between
{
  background-color: #f2f2f2;
  color: #000000;
}


.pagination-link (:last-child) {
  margin-right: 8px;
}
